langchain>=0.1.16
langchain_openai>=0.1.3
langchain_experimental

faiss-cpu
flashrank
unstructured
openai
ollama
langchain_postgres
transformers
torch
datasets
boto3
langchain-aws
python-dotenv
sentence-transformers